.DS_Store
*.pyc
*.bak
*.png

xgui
component.xml
.directory
.Xil

*.wlf
transcript
*/output_*.txt
modelsim.ini

tmp/simul_temp/transcript
tmp/simul_temp/vsim.wlf
tmp/simul_temp/wave.vcd
tmp/simul_temp/work
tmp/simul_temp/logs
tmp/simul_temp/traces
